.blog-form {
    background-color: #71c6d5;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}

.blog-form input[type="text"],
.blog-form input[type="number"],
.blog-form input[type="file"],
.blog-form textarea,
.blog-form button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.blog-form input[type="file"] {
    padding: 10px;
}

.blog-form textarea {
    height: 100px;
    resize: vertical;
}

.blog-form button {
    background-color: #004680;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.blog-form button:hover {
    background-color: #003366;
}

.blog-form-header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.blog-form-label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.blog-form h2 {
    padding-top: 20px;
    text-decoration: dashed;
}

/* Responsive Design */
@media (max-width: 768px) {
    .blog-form {
        padding: 15px;
        gap: 10px;
    }

    .blog-form button {
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .blog-form {
        padding: 10px;
        gap: 8px;
    }

    .blog-form-header {
        font-size: 16px;
    }

    .blog-form button {
        font-size: 12px;
        padding: 6px;
    }
}
