.hero-section {
  background-color: #6F5A7E;
  padding: 50px 0;
}

.image-gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-image {
  position: absolute;
  max-width: 100px;
  transition: transform 0.3s;
}

.gallery-image.img1 {
  transform: rotate(-10deg);
}

.gallery-image.img2 {
  transform: rotate(10deg);
  z-index: 1;
}

.gallery-image.img3 {
  transform: rotate(-5deg);
  z-index: 2;
}

.custom-button {
  background: none;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.custom-button:hover {
  background-color: #ffffff;
  color: #112D58;
}
