.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1c6bc5;
}
.image-section {
    background-color: #6183c8;
    background-size: cover;
    background-position: center;
    height: 300%;
    padding: 80px;
}

.form {
    background-color: #eeeeee;
    padding-top: 40px;
    padding: 20px;
    height: 660px;
    width: 800px;
    box-shadow: 0 4px 8px rgba(60, 47, 232, 0.1);
}
.password {
    padding-bottom: 10px;
    margin-bottom: 10px;
}